@media screen and (max-width:450px) {
    h1, h2 {
        text-shadow: none;
    }
    img {
        image-rendering: pixelated;
        filter: blur(1px);
    }
    ol {
        margin-right: 1%;
        margin-left: 1%;
    }
}

@font-face {
    font-family: 'Open Sans';
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
}

time {
    color: rgb(105, 105, 105);
}

body {
    background-image: linear-gradient(to bottom, rgb(200, 200, 200), rgba(0, 10, 10, .45));
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(250, 250, 250);
    text-shadow: #555 1px 1px 15px;
}

p {
    font-family: 'arial';
}

img {
    max-width: 100%;
    border-radius: 50px;
}

a {
    color: rgb(95, 95, 95);
    text-decoration: none;
}
a:hover {
    color: white;
    transition: .2s;
}

ol {
    box-shadow: 0 0 15px #555;
    list-style-position: inside;
    margin-right: 25%;
    margin-left: 25%;
}
li {
    padding: 1%;
}

#savingsDash {
    filter: drop-shadow(10px, 10px, 5px #333);
    opacity: .7;
}